:root {
    --cor-primaria: rgb(255, 0, 119);
    --cor-secundaria: #fff;
    --cor-terciaria: rgb(255, 163, 206);
    --cor-quarternaria: gray;
}

/*
    DOCUMENTO
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background: var(--cor-terciaria);
    color: var(--cor-primaria);
}

/*
  NAVBAR
*/
.navbar {
    background-color: var(--cor-primaria);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navitem {
    padding: 10px 50px 10px 50px;
    font-size: 30px;
    color: var(--cor-secundaria);
}

.btnnavbar {
    border: none;
    background: none;
    cursor: pointer;
}

.aplicacoes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/*
    BARRA DE PESQUISA
*/
.search-box {
    width: 80%;
    background: var(--cor-secundaria);
    margin: 50px auto 0;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    font-weight: 900;
    color: var(--cor-primaria);
}

button {
    background: transparent;
    border: 0;
    outline: 0;
}

button i {
    width: 25px;
    color: var(--cor-terciaria);
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color: var(--cor-terciaria);
}

.result-box ul {
    text-align: center;
    background-color: var(--cor-secundaria);
    margin: 50px;
    border-radius: 10px;
    border: 1px solid var(--cor-quarternaria);
    padding: 10px 10px;
}

.result-box ul li {
    border-bottom: 1px solid var(--cor-quarternaria);
    list-style: none;
    padding: 20px 10px;
    cursor: pointer;
}

.result-box ul li:last-child {
    border-bottom: none;
}

.result-box ul li:hover {
    background: var(--cor-terciaria);
}

.result-box ul {
    max-height: 300px;
    overflow-y: scroll;
}

#gosearch i.fa-x {
    display: none;
}