.html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    background-color: rgb(219, 112, 196);
    color: aliceblue;
}
body{
    background-color: rgba(129, 51, 110, 0.404);
}
