body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #ff1493;
    margin-top: 50px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: #ff1493;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  textarea {
    height: 50px;
  }
  
  button {
    background-color: #ff1493;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .denuncia {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .denuncia .info {
    font-weight: bold;
    color: #ff1493;
    margin-bottom: 10px;
  }
  
  .denuncia .descricao {
    color: #555;
  }
  
  /* COMBINAÇÃO */

  .combinacao{
    margin: 10px;
}

.combinacao input{
    display: none;
}

.combinacao input + label:before{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}

.combinacao input:checked + label:before{
    background-color: white;
    box-sizing: border-box;
    border: 7px solid rgb(255, 4, 159);
    padding: 4px;
}

/* FORM */

.DateTime{
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}