/* Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #fff;
    border: none;
}

input, label{
    display: block;
    width: 100%;
}

input:focus, label:focus{
    outline: none;
}

a{
    color: black;
}

body{
    padding: 5vh;
    background-color: rgb(255, 0, 119);
}

/* Form */
.inicial{
    margin: 5px;
    text-align: center;
}

#main-container{
    color: aliceblue;
    position: absolute;
    padding: 15px 3%;
    max-height: calc(100vh - 50px);
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size:1.6rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.full-box{
    flex: 1 1 100%;
    position: relative;
}

.half-box{
    flex: 1 1 45%;
    position: relative;
}

.spacing{
    margin-right: 2.5%;
}

label{
    font-weight: bolder;
    font-size: .8rem;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus{
    border-color: #e60084;
}

input[type="submit"]{
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #e60084;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

#agreement{
    margin-right: 5px;
}

#agreement, #agreement-label{
    display: inline-block;
    width: auto;
}

/* Form */
.error-validation{
    padding: 5px;
    background-color: #fff;
    color: #FF1A1A;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

.template{
    display: none;
}

/* Redimencionameto para telas com largura entre 600px e 1200px */
@media (min-width: 601px) and (max-width: 1200px) {

}

/* Redimencionameto para telas com largura ate 600px*/
@media (max-width: 600px) {
    #main-container{
        width: 80%;
    }

    .inicial{
        font-size: 12px;
    }

    .half-box{
        flex: 1 1 100%;
        position: relative;
    }
}
